<template name="goalsList">
  
 <div class="row text-center">
 		{{#if goals}}
 		{{#each goals}}
                <div class="col-md-4 goal-item">
                  	<h4 class="service-heading">{{goal}}</h4>
                    <p class="text-muted">{{description}}</p>
                    <p><span class="label">Start:</span> {{start}}</p>
                    <p><span class="label">Goal Deadline:</span> {{end}}</p>
                    <p><span class="label">Supporters will donate pledges to:</span></p>
                    <p class="cause">{{cause}}</p>
                    <p class="meta">
                    <a href="#">8 progress updates</a> |
                    <a href="#">3 supporters so far</a>
               		</p>
                </div>

        {{/each}}
        {{/if}}
</div>


</template>