<template name="submit">
	{{> nav}}

    <header>
        <div class="container">
            <div class="intro-text">
            	form
                <!-- <div class="intro-lead-in">Achieve your learning goals with community support.<br/> Pay $10 to commit. <br />Get 100% back when you achieve your goal by the deadline.</div>
                <div class="intro-heading"></div>
                <a href="/submit" class="page-scroll btn btn-xl">Create a Goal</a> -->
            </div>
        </div>
    </header>

</template>